@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  --bg-main-color: #00000080;
  --bg-accent-color: #5f53ff;
  --bg-white: #f7f9fa;
  --bg-light-blue: #f2f6fe;
  --accent-color: #433d93;
  --text-color: #433d93;
  --text-accent-color: ;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(circle, #646464e6 0%, #363636e6 100%);
  --smokywhite: #dddbd8;
  --light-purple: #b6a6e4;
  --black: #000000;
  --translucent-black: #00000099;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

button {
  border: none;
  background: transparent;
}

body {
  background: rgb(194, 177, 255);
  background: linear-gradient(180deg, rgba(194, 177, 255, 1) 0%, rgba(67, 61, 147, 1) 100%);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 1.25rem;
  margin: 0;
}

.app {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 6px 10px 53px -7px rgba(61,61,61,1);
-moz-box-shadow: 6px 10px 53px -7px rgba(61,61,61,1);
box-shadow: 6px 10px 53px -7px rgba(61,61,61,1);
}

.banner {
  width: 100%;
  background-color: var(--bg-light-blue);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.banner_title {
  font-size: 2.5rem;
  color: var(--accent-color);
  margin-bottom: 0;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-btn {
  background-color: var(--bg-accent-color);
  color: var(--bg-white);
  font-size: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 3px;
  margin: 1rem;
}

.document {
  background-color: var(--bg-white);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: 6px;
  scrollbar-color: var(--bg-accent-color);
  scrollbar-face-color: var(--accent-color);
}
.document::-webkit-scrollbar {
  /* Safari and Chrome */
  background-color: var(--bg-accent-color);
  width: 6px;
}

.document::-webkit-scrollbar-thumb {
  /* Safari and Chrome */
  background-color: var(--accent-color);
}

.footer {
  width: 100%;
  background: var(--bg-main-color);
  text-align: center;
  background-color: var(--bg-light-blue);
}

.footer_copyright {
  font-size: 1rem;
}